// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\6.0\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "name": "fwaystones",
  "fields": {
    "displayed": {
      "value": "true",
      "type": "BooleanField"
    },
    "enabled": {
      "value": "true",
      "type": "BooleanField"
    }
  },
  "configVersion": "6.0.0-beta.52"
}